@using TelefonSatis.Database.TelefonSatisDatabase

@model List<Comments>
@{
	ViewData["Title"] = "CommentIndex";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">CommentsId</th>
			<th scope="col">CommentsText</th>
			<th scope="col">ProductId</th>
			<th scope="col">UserId</th>
			<th scope="col">CreatDate</th>
		</tr>
	</thead>
	<tbody>

		@foreach (var item in Model)
		{
			<tr>
				<th scope="row">1</th>
				<td>@item.CommentsId</td>
				<td>@item.CommentsText</td>
				<td>@item.ProductId</td>
				<td>@item.UserId</td>
				<td>@item.CreateDate</td>
			</tr>
		}

	</tbody>
</table>
