@using TelefonSatis.Database.TelefonSatisDatabase;

@model Users
@{
	ViewData["Title"] = "DeleteUser";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="border-6 border-danger">
	<h3 class="bg-danger">
		User Delete
	</h3>
	<form action="UserDelete" method="post">
		<div>
			<input name="UserId" value="@Model.UsersId" type="hidden" />
		</div>
        <div class="form-group">
            <label for="exampleFormControlInput1">User Name</label>
            <input class="form-control" readonly value="@Model.UserName" type="text" name="userName" placeholder="User Name">
        </div>

        <div class="form-group">
            <label for="exampleFormControlInput1">Sur Name</label>
            <input class="form-control" readonly value="@Model.SurName" name="surName" type="text" placeholder="Sur Name">
        </div>

        <div class="form-group">
            <label for="exampleFormControlInput1">Address</label>
            <input class="form-control" readonly value="@Model.Address" name="address" type="text" placeholder="Address">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Email</label>
            <input class="form-control" readonly value="@Model.Email" name="email" type="text" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Password</label>
            <input class="form-control" readonly value="@Model.Password" name="password" type="text" placeholder="Password">
        </div>

        <input type="submit" value="DELETE" class="btn btn-success" />
        <hr />
        <p>
            @Html.Raw(ViewBag.mesaj)
        </p>

	</form>
</div>

