@using TelefonSatis.Database.TelefonSatisDatabase

@model List<Users>
@{
	ViewData["Title"] = "UserIndex";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
	<a href="~/Users_/AddUser" class="btn btn-success" >Add User</a>
</div>
<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">UsersId</th>
			<th scope="col">UserName</th>
			<th scope="col">SurName</th>
			<th scope="col">Password</th>
			<th scope="col">Address</th>
			<th scope="col">Email</th>
			<th scope="col">RuleId</th>
			<th scope="col">CreateDate</th>
			<th scope="col">Update</th>
			<th scope="col">Delete</th>
		</tr>
	</thead>
	<tbody>

		@foreach (var item in Model)
		{
			<tr>
				<th scope="row">1</th>
				<td>@item.UsersId</td>
				<td>@item.UserName</td>
				<td>@item.SurName</td>
				<td>@item.Password</td>
				<td>@item.Address</td>
				<td>@item.Email</td>
				<td>@item.RuleId</td>
				<td>@item.CreateDate</td>
				<td> <a href="~/Users_/UpdateUser/@item.UsersId" class="btn-sm btn-warning"> Update</a> </td>
				<td> <a href="~/Users_/DeleteUser/@item.UsersId" class="btn-sm btn-danger">Delete</a></td>
			</tr>
		}

	</tbody>
</table>