@using TelefonSatis.Database.TelefonSatisDatabase

@model List<Products>
@{
	ViewData["Title"] = "ProductIndex";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>

	<a href="~/Products_/AddProduct" class="btn btn-success" >Add Product</a>
</div>

<table class="table  table-bordered">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">ProductsId</th>
			<th scope="col">ProductName</th>
			<th scope="col">Price</th>
			<th scope="col">Stock</th>
			<th scope="col">CategoryId</th>
			<th scope="col">UserId</th>
			<th scope="col">CreatDate</th>
			<th scope="col">Update</th>
			<th scope="col">Delete</th>
		</tr>
	</thead>
	<tbody>

		@foreach (var item in Model)
		{
			<tr>
				<th scope="row">1</th>
				<td>@item.ProductsId</td>
				<td>@item.ProductName</td>
				<td>@item.Price</td>
				<td>@item.Stock</td>
				<td>@item.CategoryId</td>
				<td>@item.UserId</td>
				<td>@item.CreateDate.ToShortTimeString()</td>
				<td> <a href="~/Products_/UpdateProduct/@item.ProductsId" class="btn-sm btn-warning"> Update</a> </td>
				<td> <a href="~/Products_/DeleteProduct/@item.ProductsId" class="btn-sm btn-danger">Delete</a></td>
			</tr>
		}

	</tbody>
</table>


